@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --color-background: #F6F6F6;
  --color-muted: #EBEDF0;
  --color-border: #767680;
  --color-foreground: #000000;
  --color-accent-foreground: #007AFF;
  --color-muted-foreground: #1B1F26;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--color-background);
}

:root {
    font-family: "Pretendard", sans-serif;
}